env/
mlflow.db
*.sqlite
__pycache__/
*.pyc
.DS_Store
.vscode/
.env
research/FaceImages.zip
mlflow_s3.yml
artifacts/Human_Faces/AI_Generated_Images/**
artifacts/Human_Faces/Real_Images/**

# Sauf les fichiers .dvc et le .gitignore interne
!artifacts/**/.dvc
!artifacts/**/.gitignore

artifacts/dataset_metadata.csv

mlruns/1/**